@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;600;800;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Mulish, Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #1e4ba2, #A14DA0);
  
}

.App {
  display: flex;
  justify-content: space-between;
  height: 75vh;
  /* border: 1px solid black; */
  margin: 5rem;
}

.header-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

 header {
  width: 15rem;
}

.header-title {
  font-weight: 600;
  font-size: 500%;
  color: white;
  line-height: 4rem;
}

.input-container {
  margin-top: -40%;
  display: flex;
  gap: 1rem;
}

input {
  height: 4rem;
  font-family: Mulish, Raleway, sans-serif;
  font-size: 1.25rem;
  padding-inline: 2rem;
  align-self: stretch;
  border-radius: 50px;
  border: none;
}

button {
  font-family: Mulish, "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  padding: 1rem;
  background-color: #e9f253;
}

button:hover {
  cursor: pointer;
}

.add-btn {
  border-radius: 50%;
  border: 2px solid black;
  font-size: 1.5rem;
  width: 4rem;
  
}

footer {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  margin-bottom: 15px;
  font-size: 12px;
  color:white;
  
}

footer a, footer a:hover, footer a:focus, footer a:active {
  text-decoration: none;
  color: white;
}

.heart-icon {
  width: 12px;
  filter: invert(100%) sepia(21%) saturate(5831%) hue-rotate(8deg) brightness(109%) contrast(89%);
}


.output-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.delete-selected {
  position: absolute;
  right:0;
  color: white;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-selected:hover {
  /* background-color: hotpink; */
  animation: expand 1s ease-in-out .2s 1 forwards;
}

@keyframes expand{
  from {
    width: 3.2rem;
    border-radius: 50%;
  }
  to {
    width: 8rem;
    border-radius: 50px;
    content: "Delete Completed Todos";
  }
}

.bin-icon {
  width: 1rem;
  filter: invert(0%) sepia(100%) saturate(6313%) hue-rotate(140deg) brightness(99%) contrast(107%);
}

.todo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  position: absolute;
  top: 12%;
}

.todo {
  width: 12rem;
  height: 7rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  overflow-wrap: break-word;
  overflow-y: scroll;
  background-color: white;
  /* box-shadow: 0px 0px 8px 2px #000000; */

}

.modify-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.completed,
.delete-todo {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.completed {
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-todo {
  font-size: 1.5rem;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  width: 7rem;
  background-color: #e9f253;
  color: black;
  padding: .5rem;
  border-radius: 1rem;
}

.completed .tooltiptext {
  left: 105%;
  top: 10%;
}

.delete-todo .tooltiptext {
  right: 105%;
}

.delete-todo:hover .tooltiptext,
.completed:hover .tooltiptext {
  visibility: visible;
}